allow init ram_device:blk_file write;
allow init sysfs_zram:file { create_file_perms rw_file_perms };
allow init sysfs_zram:dir rw_dir_perms;
allow init proc_dirty_ratio:file write;
allow init mpctl_socket:sock_file write;
allow init perfd:unix_stream_socket connectto;
allow init proc:file read;
allow init sysfs:file setattr;
allow init vendor_file:file execute_no_trans;
allow init hwservicemanager:binder call;
allow init proc:file open;
allow init hwservicemanager:binder transfer;
allow init proc:file getattr;
allow init hal_power_hwservice:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init touchpanel_sysfs:file write;
